<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.nctu1210.childcare">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="cc.nctu1210.tool.ApplicationContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_lancher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseTabViewActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddNewDeviceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ChildProfleEditActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".DeviceDiscoveryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".MasterAccountCreateActivity"
            android:label="@string/master_account_create_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeacherCreateActivity"
            android:label="@string/teacher_create_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GatewayCreateActivity"
            android:label="@string/gateway_create_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChildProfileCreateActivity"
            android:label="@string/child_profile_create_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParentCreateActivity"
            android:label="@string/parent_create_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddParentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".EditParentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".AddGatewayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".EditGatewayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".GatewayLoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeacherLoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MasterLoginTabViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParentLoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditAlarmTimeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />

        <service
            android:name="cc.nctu1210.api.koala3x.KoalaService"
            android:enabled="true" />
        <service
            android:name="cc.nctu1210.polling.TeacherScheduledService"
            android:enabled="true"
            android:label="@string/app_name" />
        <service
            android:name="cc.nctu1210.polling.ParentScheduledService"
            android:enabled="true"
            android:label="@string/app_name" />
        <service
            android:name="cc.nctu1210.polling.GatewayScheduledService"
            android:enabled="true"
            android:label="@string/app_name" />
        <service
            android:name="cc.nctu1210.polling.MasterScheduledService"
            android:enabled="true"
            android:label="@string/app_name" />

        <activity
            android:name=".GatewayListEditorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ParentListEditorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ChildProfileListEditorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <activity android:name="cc.nctu1210.demo.DemoGatewayLoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="cc.nctu1210.demo.DemoGatewayScheduledService"
            android:enabled="true"
            android:label="@string/app_name" />
    </application>

</manifest>
